@model MvcUsers.Models.User

@{
    ViewBag.Title = "Информация о пользователе";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Список", "List")
<br />
<br />

@Html.LabelFor(model => model.Number) @Model.Number <br />
@Html.LabelFor(model => model.Name) @Model.Name <br />
Hash code #1 @Model.PasswordHashCode1 <br />
Hash code #2 @Model.PasswordHashCode2 <br />
